.number
{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 100px 200px 100px;
    gap:10px;
    margin:10px;
    grid-auto-flow:column;
    align-items:stretch
    
}

.box
{
    background-color:rgb(50,204,83);
    color:white;
    font-size:4erm;
    display:grid;
    justify-content: center;
    align-items:center;
}
.box1
{
    /* grid-column-start:1;
    grid-column-end:4; */

    /* grid-column:1/4; */

    grid-column:span 3;
  
}

.box2
{
    grid-row: span 2;
}
.box3
{
    grid-column: span 2;
}